@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */


/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: "AppleSDGothicNeoUL";
    src: local(※),
    url("../font/AppleSDGothicNeoUL.ttf") format("ttf");
} */
/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: "AppleSDGothicNeoT";
    src: local(※),
    url("../font/AppleSDGothicNeoT.ttf") format("ttf");
} */
/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: "AppleSDGothicNeoSB";
    src: local(※),
    url("../font/AppleSDGothicNeoSB.ttf") format("ttf");
} */
/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 400;
    src: local(※),
    url("../font/AppleSDGothicNeoR.ttf") format("ttf");
}
@font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 500;
    src: local(※),
    url("../font/AppleSDGothicNeoM.ttf") format("ttf");
}
@font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 200;
    src: local(※),
    url("../font/AppleSDGothicNeoL.ttf") format("ttf");
} */
/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: "AppleSDGothicNeoH";
    src: local(※),
    url("../font/AppleSDGothicNeoH.ttf") format("ttf");
} */
/* @font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 900;
    src: local(※),
    url("../font/AppleSDGothicNeoEB.ttf") format("ttf");
}
@font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 700;
    src: local(※),
    url("../font/AppleSDGothicNeoB.ttf") format("ttf");
} */